server:
  port: 8761

spring:
  application:
    name: discovery-server

eureka:
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 2000
  client:
    register-with-eureka: false
    fetch-registry: false