# API Gateway Configuration
# This file contains all configuration for api-gateway
# Loaded by Config Server

spring:
  cloud:
    loadbalancer:
      cache:
        enabled: false
      ribbon:
        enabled: false
    gateway:
      default-filters:
        - name: Retry
          args:
            retries: 3
            methods: GET,POST,PUT,DELETE
            backoff:
              firstBackoff: 50ms
              maxBackoff: 500ms
              factor: 2
              basedOnPreviousValue: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      httpclient:
        connect-timeout: 2000
        response-timeout: 10s
        pool:
          type: elastic
          max-idle-time: 15s

eureka:
  client:
    registry-fetch-interval-seconds: 2
    instance-info-replication-interval-seconds: 2
  instance:
    lease-renewal-interval-in-seconds: 2
    lease-expiration-duration-in-seconds: 5
