name: Build & Push config-server

on:
  push:
    branches: [main]
    paths:
      - "config-server/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven
          cache-dependency-path: config-server/pom.xml

      - name: Make mvnw executable
        run: chmod +x mvnw
        working-directory: config-server

      - name: Build JAR
        run: ./mvnw clean package -DskipTests
        working-directory: config-server

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: config-server
          push: true
          tags: tawn/config-server:latest
